doctype html
html(lang='ru')
  include templates/_head
  body
    include templates/_main
    include templates/_footer
    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='bower_components/owl.carousel/dist/owl.carousel.min.js')
    script(src='bower_components/jquery-mask-plugin/dist/jquery.mask.min.js')