section.servicesWrap
  .content
    .servicesPrice#servicesTabs
      ul.servicesPriceNav
        li
          a(href='servicesTabs1')
            figure
              .imgContainer
                img(src='')
              figcaption Проводка<br>в&nbsp;квартире<br>и&nbsp;в&nbsp;доме