section.servicesBig
  article.servicesBigArticle.servicesBigArticle__housesAppartments
    h2 Выполняем под ключ
    .content
      .left
        .top
          h3 Проводка в квартире и доме
          h4 Включены работы:
          ol
            li Разработка исполнительных схем
            li Штробление, бурение подрозетников
            li Прокладка кабелей
            li Сборка щита
        .bottom
          .infographics
            .inner
              figure
                img(src='../img/specialistIcon.png')
                figcaption
                  h5 Выполнено:
                  span.number 24
                  span.label объекта
            .inner
              figure
                img(src='../img/moneyIcon.png')
                figcaption
                  h5 Цена от:
                  span.number 1500
                  span.label &#8381;/м.кв
          .buttons
            button.button.button__servicesBig.button__grey Цены
            button.button.button__servicesBig.button__grey Портфолио
            button.button.button__servicesBig.button__bubblyButton Заказть
      .right
        img(src="../img/servicesBigHouseApartmentsImg.jpg", alt="Электропроводка в квартире и доме")
        .imgMask
          span  Посмотреть другие работы

  article.servicesBigArticle.servicesBigArticle__woodenHouses
    .content
      .left
        .top
          h3 Проводка в деревянном доме
          h4 Включены работы:
          ol
            li Разработка исполнительных схем
            li Штробление, бурение подрозетников
            li Прокладка кабелей
            li Сборка щита
        .bottom
          .infographics
            .inner
              figure
                img(src='../img/specialistIcon.png')
                figcaption
                  h5 Выполнено:
                  span.number 24
                  span.label объекта
            .inner
              figure
                img(src='../img/moneyIcon.png')
                figcaption
                  h5 Цена от:
                  span.number 1500
                  span.label &#8381;/м.кв
          .buttons
            button.button.button__servicesBig.button__white Цены
            button.button.button__servicesBig.button__white Портфолио
            button.button.button__servicesBig.button__bubblyButton.animate Заказть
      .right
        img(src="../img/servicesBigWoodenHousesImg.jpg", alt="Проводка в дервянном доме")
        .imgMask
          span  Посмотреть другие работы
  article.servicesBigArticle.servicesBigArticle__commercial
    .content
      .left
        .top
          h3.noMargin Коммерческие объекты
          h5 офис, магазин, склад, производство
          h4 Включены работы:
          ol
            li Разработка исполнительных схем
            li Штробление, бурение подрозетников
            li Прокладка кабелей
            li Сборка щита
        .bottom
          .infographics
            .inner
              figure
                img(src='../img/specialistIcon.png')
                figcaption
                  h5 Выполнено:
                  span.number 24
                  span.label объекта
            .inner
              figure
                img(src='../img/moneyIcon.png')
                figcaption
                  h5 Цена от:
                  span.number 1500
                  span.label &#8381;/м.кв
          .buttons
            button.button.button__servicesBig.button__white Цены
            button.button.button__servicesBig.button__white Портфолио
            button.button.button__servicesBig.button__bubblyButton.animate Заказть
      .right
        img(src="../img/servicesBigCommercialImg.jpg", alt="Электропроводка на коммерческих объектах")
        .imgMask
          span  Посмотреть другие работы